<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>lognot</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body style="margin: 0; padding: 0;">

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
        <td align="center" bgcolor="#FFFFFF" style="padding: 30px 0 10px 0; font-size: 14px;">
            Lognot
        </td>
    </tr>
    <tr>
        <td bgcolor="#FAFAFA" style="padding: 40px 30px 40px 30px;">
            <div>File key <span  th:text="${lognot_file_key}"></span></div>
            <div>File path <span th:text="${lognot_file_path}"></span></div>
            <div>Lines:
                <div th:each="line, iterstat: ${lognot_file_lines}">
                    <div th:text="${line}" style="color:#FFFFFF; background-color:#000000; font-family:courier;"></div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td bgcolor="#FFFFFF" style="padding: 30px 30px 30px 30px;">
            <p><sub>This is an automatic email. You received this email because you are in the recipients list.</sub></p>
            <p>Sent by lognot</p>
        </td>
    </tr>
</table>

</body>
</html>